* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* regole menu navigazione header */
header nav {
    background-color: rgb(173, 216, 230);
    min-height: 40px;
    padding: 10px 0;
    /* DEBUG */
    font-size: 12px;
}

/* regole container menu navigazione header */
#container-nav {
    width: 60%;
    min-height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    /* DEBUG */
    background-color: rgb(218, 165, 32);
    border: 2px dotted black;
}

#container-nav ul {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    border-right: 2px dotted black;
    border-left: 2px dotted black;
}

nav ul {
    list-style-type: none;
}

#container-nav li {
    margin: 4px;
}